node_modules

/.cache
/build
.env
app/routes/generate-reports/.server/filled-reports/
app/routes/generate-reports/.server/reports-archive/
/app/routes/generate-reports/.server/uploaded-excel
.react-router/
